{% extends "base.html" %}
{% block title %}Pagina Inicio{% endblock %}
{% block pageContent %}
    {% set url = "/artigo/" + artigo.codigoArtigo %}
    {% set imageSRC = "imagens/" + artigo.imagem %}

    <div class="d-flex align-items-center justify-content-center">
        <div class="col-md-4 mt-5">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top"
                     alt="" style="width: 100%; display: block;"
                     src="{{ url_for('static', filename=imageSRC) }}"
                     data-holder-rendered="true">
                <div class="card-body">
                    <h6 lass="card-text">{{ artigo.descricao }} </h6>
                    <p class="card-text">Preço: {{ artigo.preco }} $</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <button type="submit" class="btn btn-lg btn-outline-secondary " 
                            id="buy-now">Adicionar ao carrinho.
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

