{% extends "base.html" %}
{% block title %}Pagina Inicio{% endblock %}
{% block pageContent %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% if artigos | length > 0 %}
                    {% for artigo in artigos.result %}
                        {% set url = "/artigo/" + artigo.codigoArtigo %}
                        {% set artigo_cover = "imagens/" + artigo.imagem %}
                        <div class="col-md-3">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     alt="" style="width: 100%; display: block;"
                                     src="{{ url_for('static', filename=artigo_cover) }}"
                                     data-holder-rendered="true">
                                <div class="card-body">
                                    <p class="card-text">Preço: {{ artigo.preco }} $</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="{{ url }}" class="btn btn-sm btn-outline-secondary">Vêr Detalhes</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <strong>Sem Artigos.</strong>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}